:root {
  color: #333333;
  font-family: Cambria, "Palatino Linotype", Palatino, "Liberation Serif", serif;
  font-size: 15px;
  line-height: 1.5;
  --mono-font-size: 13px;
  --indent: 1rem;
  --list-indent: 1.5rem;
  --dfn-indent: 0rem;
}

@media (min-width: 720px) {
  :root {
    font-size: 17px;
    --mono-font-size: 15px;
    --indent: 2rem;
    --list-indent: 2rem;
    --dfn-indent: 2rem;
  }
}

body {
  margin: 3rem 0 3rem;
}

article {
  margin: 0 1rem;
}

@media (min-width: 720px) {
  body {
    margin: 6rem auto 3rem;
    max-width: 800px;
    padding-left: 75px;
    padding-right: clamp(0px, calc((100vw - 800px) * 0.25), 75px);
  }
}

/* Source Links */

.source-link {
  display: none;
}

@media screen and (min-width: 720px) {
  .source-link {
    display: block;
    position: absolute;
    width: 18px;
    fill: #ccc;
    opacity: 0.3;
  }
  .source-link:hover {
    opacity: 1;
  }
}

/* Selections */

.outdated-selection-link,
.selection-link {
  position: absolute;
  display: block;
  color: #fff;
  --selection-background-color: #cacee0;
  background: var(--selection-background-color);
  border-radius: 4px;
  font-size: 36px;
  height: 23px;
  line-height: 48px;
  text-align: center;
  text-decoration: none;
  width: 25px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.outdated-selection-link:hover,
.selection-link:hover {
  text-decoration: none;
}

.outdated-selection-link:before,
.selection-link:before {
  border: 5px solid transparent;
  content: '';
  height: 0;
  margin-top: -5px;
  margin-right: -5px;
  position: absolute;
  right: 1px;
  top: 50%;
  width: 0;
}

@media (max-width: 719px) {
  .outdated-selection-link:before,
  .selection-link:before {
    border-bottom-color: var(--selection-background-color);
    border-top: 0;
    right: 50%;
    top: 1px;
  }
}

@media (min-width: 720px) {
  .outdated-selection-link:before,
  .selection-link:before {
    border-left-color: var(--selection-background-color);
    border-right: 0;
    right: 1px;
    top: 50%;
  }
}

.selection-link:hover {
  --selection-background-color: #3b5998;
}

.outdated-selection-link {
  --selection-background-color: #f0babe;
  font-size: 21px;
  font-weight: 800;
  line-height: 27px;
}

.outdated-selection-link:hover:after {
  content: "This selection content has changed since this link was created.";
  font: 9pt/11pt Cambria, "Palatino Linotype", Palatino, "Liberation Serif", serif;
  position: absolute;
  display: block;
  white-space: nowrap;
  padding: 2px 5px 1px;
  top: -20px;
  background: black;
  color: white;
}

/* Links */

a {
  color: #3B5998;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Images */

img {
  max-width: 100%;
}

/* Definitions */

dl {
  margin: 1rem 0 1rem var(--dfn-indent);
}

dd {
  margin: 0.25em 0 0.5em var(--indent);
}

dd + dd {
  margin-top: 1rem;
}

dfn, .spec-ref {
  font-style: italic;
}

dfn > a, .spec-ref > a {
  color: inherit;
}

/* Section headers */

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 3em 0 1em;
  position: relative;
}

@media (min-width: 720px) {
  header > h1 {
    margin: 6em 0 3em;
  }
}

h1 {
  font-size: 1.5em;
  margin-top: 5em;
}

h2, h3 {
  font-size: 1.25em;
}

h4, h5, h6 {
  font-size: 1em;
}

section {
  padding-top: 1rem;
  margin-top: -1rem;
}

section.subsec > h6 {
  margin-top: 2em;
}

section.subsec > h6 > a {
  color: #333333;
}

section .spec-secid {
  margin-right: 1ex;
}

@media (min-width: 720px) {
  section .spec-secid {
    position: absolute;
    right: 100%;
    text-align: right;
    white-space: nowrap;
  }
}

footer {
  font-size: 75%;
  opacity: 0.5;
  text-align: center;
  margin-top: 12rem;
}


/* Table of contents */

.spec-toc {
  margin: 1rem 0 3rem;
}

.spec-toc .title {
  content: 'Contents';
  display: block;
  font-weight: bold;
  margin: 5em 0 1em;
}

.spec-toc .spec-secid {
  margin-right: 1ex;
}

.spec-toc ol {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.spec-toc ol ol {
  list-style: none;
  padding-left: 2ex;
  margin-bottom: 0.25em;
}

.spec-toc li {
  position: relative;
  padding: 5px 0 0 30px;
  margin: -5px 0 0 -30px;
}

.spec-toc a {
  color: #333333;
}

.spec-toc a:hover {
  text-decoration: none;
}

.spec-toc a .spec-secid {
  color: #3B5998;
}

.spec-toc a:hover .spec-secid {
  text-decoration: underline;
}

.spec-toc .toggle {
  display: none;
}

.spec-toc .toggle + label {
  cursor: pointer;
  left: 6px;
  opacity: 1;
  padding: 5px 6px 5px 7px;
  position: absolute;
  top: 6px;
  transform: rotate(0deg);
  transition: all 0.18s ease-in-out;
}

.spec-toc .toggle + label:after {
  border-color: transparent transparent transparent #bbc;
  border-style: solid;
  border-width: 6px 0 6px 7px;
  content: ' ';
  display: block;
  height: 0;
  width: 0;
}

@media(pointer: fine) {
  .spec-toc .toggle + label {
    left: 10px;
    padding: 3px 5px 3px 6px;
    top: 8px;
  }
}

.spec-toc .toggle:checked + label {
  transform: rotate(90deg);
}

@media(hover: hover) {
  .spec-toc li:not(:hover) > .toggle:checked + label {
    opacity: 0;
  }
}

.spec-toc .toggle:not(:checked) ~ ol {
  max-height: 0;
  overflow: hidden;
  margin: 0;
}


/* Sidebar */

.spec-sidebar-toggle {
  display: none;
}

.spec-sidebar-toggle + label > .spec-sidebar-button {
  position: fixed;
  right: 0;
  top: 0;
  padding: 10px 15px;
  font-size: 30px;
  color: rgba(0,0,0,0.7);
  z-index: 2;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.spec-sidebar-toggle:checked + label:after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.spec-sidebar {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  width: min(320px, calc(100vw - 48px));
  font-size: 14px;
  line-height: 1.75;
  overflow-y: scroll;
  height: 100%;
  padding: 0 0 5rem 30px;
  box-sizing: border-box;
  background: #f0f0f0;
  box-shadow:
    inset 1px 0 rgba(0,0,0,0.05),
    -4px 0 8px -2px rgba(0,0,0,0.04);
  overscroll-behavior: contain;
}

.spec-sidebar {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.spec-sidebar-toggle:checked ~ .spec-sidebar {
  display: block;
}

.spec-sidebar .viewing > a:after {
  color: #8b9;
  content: '\2022';
  margin-left: 1ex;
}

@media (min-width: 1220px) {
  .spec-sidebar-toggle + label {
    display: none;
  }

  .spec-sidebar {
    display: block;
    box-shadow:
      inset 1px 0 rgba(0,0,0,0.05),
      inset 4px 0 8px -2px rgba(0,0,0,0.08) !important;
  }

  body {
    padding-right: 345px;
  }
}


/* Notes */

.spec-note {
  background: #FEFEF3;
  border-left: solid 4px #F4E925;
  margin: 1rem -1rem;
  min-width: 70vw;
  padding: 8px 1rem 12px calc(1rem - 4px);
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

@media (min-width: 720px) {
  .spec-note {
    min-width: 416px;
  }
}

.spec-note > a:first-child {
  color: #6C6613;
  display: block;
  font: italic 11pt/18pt Cambria, "Palatino Linotype", Palatino, "Liberation Serif", serif;
  opacity: 0.6;
  user-select: none;
}


/* Todos */

.spec-todo {
  color: #666666;
  margin: 1em 0 1em 5em;
  min-height: 1em;
}

.spec-todo::before {
  content: 'todo';
  display: block;
  float: left;
  margin-left: -5em;
  text-transform: uppercase;
}

/* Index table */

.spec-index ol {
  list-style-type: none;
  margin: 0 0 0 var(--indent);
  padding: 0;
  column-width: 210px;
  column-gap: var(--indent);
}

.spec-index ol li {
  width: min-content;
  white-space: nowrap;
}

/* Code */

pre, code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: var(--mono-font-size);
  font-weight: inherit;
}

code {
  background: rgba(0,0,0,0.03);
  margin: -2px -1px;
  padding: 3px 3px;
  white-space: pre-wrap;
}

pre > code {
  background: none;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  white-space: pre;
}

pre {
  background: #FAFAFA;
  border-left: solid 4px #E9E9E9;
  margin: 1rem -1rem;
  min-width: 70vw;
  padding: 12px 1rem 12px calc(1rem - 4px);
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  max-width: calc(100vw - 2rem);
  overflow-y: scroll;
}

@media (min-width: 720px) {
  pre {
    min-width: 40ch;
  }
}

.spec-example {
  background: #FAFAFF;
  border-left: solid 4px #BBBBFF;
  padding-top: 8px;
}

.spec-counter-example {
  background: #FFFAFA;
  border-left: solid 4px #FFBBBB;
  padding-top: 8px;
}

.spec-example > a,
.spec-counter-example > a {
  display: block;
  font: italic 11pt/18pt Cambria, "Palatino Linotype", Palatino, "Liberation Serif", serif;
  opacity: 0.6;
  user-select: none;
}

.spec-counter-example > a {
  color: #98593b;
}


/* Tables */

table {
  border-collapse: collapse;
}

th {
  background-color: #F9F9F9;
}

td, th {
  border: 1px solid #D0D0D0;
  padding: 0.4em;
  vertical-align: baseline;
}


/* Lists */

ol, ul {
  padding-left: var(--list-indent);
}

li > ol, li > ul {
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}

li + li {
  margin-top: 0.25em;
}

li.task {
  list-style-type: none;
  position: relative;
}

li.task > input:first-child {
  margin-left: 0;
  position: absolute;
  transform: translateX(calc(-100% - 1ch));
}


/* Edits */

ins {
  background-color: rgba(0, 200, 30, 0.08);
  text-decoration: none;
}

del {
  background-color: rgba(200, 0, 0, 0.08);
}

.spec-added, .spec-removed {
  border-left: 4px solid;
  margin-left: -18px;
  padding-left: 14px;
}

.spec-added {
  border-color: #396;
}

.spec-removed {
  border-color: #933;
  text-decoration: line-through;
}


/* Values */

.spec-keyword {
  font-weight: bold;
}

.spec-string {
  font-family: Consolas, Monaco, monospace;
  font-size: 85%;
  white-space: pre;
}

var {
  font-style: italic;
}

*[data-name] {
  transition: 0.15s background ease-out;
  border-radius: 2px;
  padding: 0 3px;
  margin: 0 -3px;
}


/* Grammar semantics, algorithms and calls */

.spec-semantic,
.spec-algo {
  margin: 1rem 0 1rem var(--dfn-indent);
}

.spec-semantic > .spec-nt::after,
.spec-algo > .spec-call:first-child::after {
  content: ':';
  font-style: normal;
  font-weight: bold;
  margin-left: 1ex;
}

.spec-semantic ol, .spec-semantic ol ol ol ol,
.spec-algo ol, .spec-algo ol ol ol ol {
  list-style-type: decimal;
}

.spec-semantic ol ol, .spec-semantic ol ol ol ol ol,
.spec-algo ol ol, .spec-algo ol ol ol ol ol {
  list-style-type: lower-alpha;
}

.spec-semantic ol ol ol, .spec-semantic ol ol ol ol ol ol,
.spec-algo ol ol ol, .spec-algo ol ol ol ol ol ol {
  list-style-type: lower-roman;
}

.spec-call > a {
  color: inherit;
}


/* Grammar productions */

.spec-production {
  margin: 1rem 0 1rem var(--dfn-indent);
}

.spec-production > .spec-nt::after {
  content: ':';
  font-style: normal;
  font-weight: bold;
  margin: 0 1ex;
}

.spec-semantic.d2 > .spec-nt::after,
.spec-production.d2 > .spec-nt::after {
  content: '::';
}

.spec-semantic.d3 > .spec-nt::after,
.spec-production.d3 > .spec-nt::after {
  content: ':::';
}

.spec-production > .spec-rhs {
  line-height: 1.1;
  margin: 0.25em 0 0.5em calc(2 * var(--indent));
  text-indent: calc(-1 * var(--indent));
}

.spec-semantic > .spec-rhs {
  display: inline-block;
  text-indent: calc(-1 * var(--indent));
  margin-left: calc(1ex + var(--indent));
}

.spec-rhs > * {
  text-indent: 0;
}

.spec-oneof {
  display: inline;
}

.spec-oneof::before {
  content: 'one of';
  font-style: normal;
  font-weight: bold;
}

.spec-oneof-grid {
  max-width: calc(100vw - 2rem);
  overflow: scroll;
  margin: -1ex -1rem;
  padding: 1ex 1rem;
}

.spec-oneof-grid > table {
  margin-left: var(--indent);
}

.spec-oneof .spec-rhs {
  border: none;
  margin: 0;
  padding: 0 0 0 1rem;
  vertical-align: baseline;
  white-space: pre;
}

.spec-oneof .spec-rhs:first-child {
  padding: 0;
}

.spec-rhs .spec-constrained:not(:first-child),
.spec-rhs .spec-quantified:not(:first-child),
.spec-rhs .spec-nt:not(:first-child),
.spec-rhs .spec-t:not(:first-child),
.spec-rhs .spec-rx:not(:first-child),
.spec-rhs .spec-prose:not(:first-child),
.spec-rhs .spec-empty:not(:first-child),
.spec-rhs .spec-lookahead:not(:first-child) {
  margin-left: 1ex;
  display: inline-block;
}

.spec-condition {
  font-size: 85%;
}

.spec-condition::before {
  content: '[if '
}

.spec-condition.not::before {
  content: '[if not '
}

.spec-condition::after {
  content: ']'
}

.spec-empty,
.spec-prose {
  color: #666666;
}

.spec-nt {
  font-style: italic;
}

.spec-nt > a {
  color: inherit;
}

.spec-quantifiers,
.spec-params {
  font-size: 65%;
  font-style: normal;
  vertical-align: sub;
}

.spec-quantifier.list {
  color: #3348D3;
}

.spec-quantifier.optional {
  color: #83238E;
}

.spec-params,
.spec-condition {
  color: #1C7758;
}

.spec-params::before {
  content: '[';
}

.spec-params::after {
  content: ']';
}

.spec-quantifier:not(:last-child)::after,
.spec-param:not(:last-child)::after {
  color: #666666;
  content: ', ';
}

.spec-param.conditional::before {
  content: '?';
}

.spec-param.negated::before {
  content: '!';
}

.spec-t, .spec-rx {
  color: #333333;
  font-family: monospace;
  font-weight: bold;
}

.spec-butnot::before {
  color: #666666;
  content: 'but not';
  font-family: Cambria, "Palatino Linotype", Palatino, "Liberation Serif", serif;
  font-weight: normal;
  margin-right: 1ex;
}

.spec-butnot > *:not(:first-child)::before {
  color: #666666;
  content: 'or';
  font-family: Cambria, "Palatino Linotype", Palatino, "Liberation Serif", serif;
  font-weight: normal;
  margin-right: 1ex;
}

.spec-rhs .spec-oneof::before,
.spec-rhs .spec-butnot::before {
  margin-left: 1ex;
}

.spec-lookahead > * {
  margin: 0 !important;
}

.spec-lookahead > *:not(:first-child)::before {
  color: #666666;
  content: ', ';
  font-family: Cambria, "Palatino Linotype", Palatino, "Liberation Serif", serif;
  font-style: normal;
  font-weight: normal;
}

.spec-lookahead::before {
  color: #666666;
  content: '[lookahead = ';
  font-family: Cambria, "Palatino Linotype", Palatino, "Liberation Serif", serif;
  font-style: normal;
  font-weight: normal;
}

.spec-lookahead.not::before {
  content: '[lookahead \2260  ';
}

.spec-lookahead.set::before {
  content: '[lookahead \2208  {';
  margin-right: 0;
}

.spec-lookahead.set.not::before {
  content: '[lookahead \2209  {';
}

.spec-lookahead.ntset::before {
  content: '[lookahead \2208  ';
  margin-right: 0;
}

.spec-lookahead.ntset.not::before {
  content: '[lookahead \2209  ';
}

.spec-lookahead::after {
  color: #666666;
  content: ']';
}

.spec-lookahead.set::after {
  content: '}]';
}

/* Prism color scheme */

.token.atrule,
.token.attr-value,
.token.keyword,
.token.property,
.token.selector,
.token.attr-name,
.token.builtin,
.token.entity,
.token.url,
.token.inserted {
  color: hsla(241, 71%, 34%, 0.69);
  background: none;
}

.token.tag,
.token.boolean,
.token.number,
.token.string,
.token.char,
.token.constant,
.token.symbol,
.token.regex,
.token.important,
.token.variable,
.token.function,
.token.class-name,
.token.deleted {
  color: hsla(324, 92%, 33%, 0.74);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.description {
  color: inherit;
  opacity: 0.3;
}

.token.punctuation {
  color: inherit;
  opacity: 0.5;
}

.token.operator,
.token.namespace {
  color: inherit;
  opacity: 0.7;
}
